/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
GOOGLE FONT
============================================================ */

@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Raleway|IM+Fell+English|Fauna+One|Playfair+Display+SC); 
@font-face {
    font-family: jaapokki;
    src: url(fonts/jaapokki.otf);
  }
@import url(https://fonts.googleapis.com/css?family=Oswald);


/* =============================================================
GENERAL STYLES
============================================================ */
body {
overflow-x: hidden;
font-weight: 500;
font-family:'Fauna+One', serif;
font-size: 20px;
color: 000000;
 background: url('/img/denali.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
padding-top: 80px;
padding-bottom: 40px;
}
.row {
margin-right: -100px;
margin-left: -100px;

}

.overlayBack {
    padding-right: 20px;
    padding-left: 20px;
    background: url('/img/overlayLrg.png') no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    

}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
 
    /* reset the text-align */
    text-align:left;
    
}
.pad-bottom {
padding-bottom: 60px;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
.header {
font-family: 'Oswald', sans-serif;
padding-bottom: 40px;
text-transform: uppercase;
}

.header hr {
width: 50px;
border-top: 2px solid rgb(57, 171, 111);
}

.bold {
text-transform: uppercase;
font-size: 55px;
line-height: 34px;
}
.smBold {
text-transform: uppercase;
font-size: 45px;
line-height: 72px;
}

.boldPunct {
line-height: 73px;
font-family:'IM Fell English', serif;
font-weight: 500;
font-size: 75px;
 vertical-align: text-top;
}
.boldPunct2 {
line-height: 40px;
font-family:'IM Fell English', serif;
font-weight: 500;
font-size: 75px;
 vertical-align: text-top;
}

/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
font-size: 18px;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}


.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid rgb(57, 171, 111);
}

.btn-custom-one:hover {
background-color: rgb(57, 171, 111);
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: rgb(57, 171, 111);
border: 2px solid rgb(57, 171, 111);
}

.btn-custom-two:hover {
border: 2px solid rgb(57, 171, 111);
text-decoration: none;
color: #fff;
background-color: transparent;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-left {
	margin-right: 10px;
}
.navbar-brand {
	line-height:40px; 
}
.navbar-inverse {
background-color: rgba(0, 0, 0, 0.4);
border-color: transparent;
}

.

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 2px solid rgb(57, 171, 111);
}

.navbar-inverse .navbar-nav > li > a {
font-family: Oswald, sans-serif;
font-size: 14px;
font-weight: 800;
padding: 5px 0px;
letter-spacing: 2px;
margin: 10px 20px 10px 20px;
color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-size: 40px;
font-family: 'jaapokki';
vertical-align: middle;
letter-spacing: 3px;
font-smoothing
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: rgb(57, 171, 111);
}
.navbar-inverse .navbar-toggle {
border-color: rgb(57, 171, 111);
}

/* =============================================================
overlay STYLES
============================================================ */
.effects {
  
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {

}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlayImg {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 75px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 100px;
  border: solid 2px  rgba(57, 171, 111, .8);
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlayImg {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlayImg a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlayImg {
  height: 100%;
}

/* ============================================================
Arrows bottom
============================================================ */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1.5px;  
  animation: arrow 3s infinite 3s;
  -webkit-animation: arrow 3s infinite; 
 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
text-align: center;
padding-top:20px;
height: 100vh;

}

#home h1 {
  font-size: 3em;
  text-align: center center;
  vertical-align: middle;
  line-height: 100vh;
 
  
}

.workBtn h1 {

}


#home p {
	 line-height: 10px;
   letter-spacing: 3px;
  font-family: 'Oswald', sans-serif; 
  font-size: 2em;
}
 h2 {
  font-family: 'jaapokki';
 }
 h3 {
  font-family: 'Fauna One', serif; 
  font-size: 20px
}

.landBtn {
  z-index: 1000;
padding-top: 0px;
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);
opacity: .9;
width: 250px;
  height: 80px;
  position: absolute;
  bottom: 44vh;
  border: 1.5px solid rgb(102, 102, 102);
-webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:15s;
        animation-iteration-count: 1;
      }

.landBtnRight {
background-color:white;
color: black;
right: 5px;
    animation-name: slideInRight;
   
        }
.landBtnLeft {
background-color:#243245;
opacity: .9;
color: #fff;
left: 5px;
animation-name: slideInLeft;

}

.slideWork {
  text-align: center center;
z-index: 900;
width: 33Vw;
height: 110vh;
position: absolute;
color:black;
bottom: 0px; 
}
.slideWorkRight {

right:0px;
background-color: #243245;
opacity:.0;

   

}

.slideWorkLeft{
color:white;
left:0px;
background-color: white;
opacity:.0;



}
/*.hoverWork:hover {
 animation: tilt 2s line#r ;

}
 
@keyframes tilt {
  0% {
   transform: translateX(200px);
 }
  50% {
   transform: translateX(350px);
 }
 100% {
   transform: translateX(200px);
 }
}*/
.landBtnLeft:hover + .slideWorkLeft { 
opacity:.8;
animation-name: slideInLeft;
  -webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:0s;
        animation-iteration-count: 1;
   

   }

.landBtnRight:hover + .slideWorkRight { 
opacity:.8;
animation-name: slideInRight;
  -webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:0s;
        animation-iteration-count: 1;
   

   }

 
/*.hoverWork:hover {
 animation: tilt 2s linear ;
a
}
 
@keyframes tilt {
  0% {
   transform: translateX(200px);
 }
  50% {
   transform: translateX(350px);
 }
 100% {
   transform: translateX(200px);
 }
}*/
.landBtn h1::hover {
  -webkit-animation: rubberBand 1s;
    animation-name: rubberBand 1s;
}

.centerLogo {
	margin: 0 auto;
}
#card .titleCard {

max-height: 300px;
background-color:rgba(51, 51, 51, .95);
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);
text-align: center;
padding: 30.2px;
position: absolute;
}

#title {
  padding-left: 0px;
  max-height: 300px;
  height: 300px;
}

#home .introPic {
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);

}

#home .home-wrapper {
padding: 20px;
margin: 0 AUTO;
max-width: 100%;
height: 60%;
position: 
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 10px;
background-color: rgba(0, 0, 0, 0.5);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}


/*Carousel Slider*/
.carousel-indicators li {
    width: 5px;
    height: 5px;
  }

.carousel-indicators .active {
  width: 7px;
    height: 7px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 2px;
  height: 2px;
  opacity: .8;
}
#carousel-slider {
margin-bottom: 45%;
padding:  15% 0 30% 0; 
height: 40%;
overflow: visible;
}
.carousel-inner {
height: 40vh;
overflow: visible;
}

/*home text*/
#carousel-slider h3 {
line-height: 50px;
font-family: 'SpaceMono_Bold', sans-serif;
}


 #carousel-slider p {
color: rgb(57, 171, 111);
}
.introPic {
  width: 100%;
  height: auto;

}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
 .carousel-indicators {
    position: absolute;
    top: -77px;
    left: 19%;
    z-index: 15;
   
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}
.centerLogo {
  margin-left: -12px;
}

 #carousel-slider {
margin-top:20%;

}

 .landBtnRight {
  bottom: 15%;
  width: 45%;

  
 }
.landBtnLeft {
  bottom: 15%;
  width: 45%;
  
  
 }
 #carousel-slider p {

font-size: .9em;
line-height: 3rem;
}

#carousel-slider .bold  {

font-size: 2.5em;
line-height: 6rem;
}

#carousel-slider .smBold {

font-size: 2.5em;
line-height: 6rem;
}

#carousel-slider .boldPunct {

font-size: 2.5em;
line-height: 2.6rem;
}
}
@media screen and (min-width: 500px) {
 #carousel-slider p {

font-size: .7em;
line-height: 3rem;
}
 

}

@media screen and (min-width: 750px) {
  #carousel-slider p {
color: rgb(57, 171, 111);
font-size: 29px;
line-height: 50px;
margin: 10px 20px;
}

}


/* =============================================================
card SECTION STYLES
============================================================ */
#card .row {
  margin-top: 200px;
  max-height: 300px;
  margin-top: 250px;
margin-bottom: 100px;}


h1 {
font-family: jaapokki;
font-size: 2.5em;
letter-spacing: 2px;

} 
#card .social {
display: block;
margin: 50px 20px;
}

#card .face {

padding: 0px;
height: 300px;
width:300px;
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55)
}

/* =============================================================
SERVICES SECTION STYLES
============================================================ */
#services {
  background-blend-mode: darken;
}
#services .services-wrapper {
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.07);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

#services .services-wrapper:hover {
background-color: rgba(255, 255, 255, 0.20);
}

#services h3 {
font-family: 'Monstserrat Subrayada', sans-serif;
}

#services .services-wrapper i {
margin: 5px;
color: rgb(57, 171, 111);
font-size: 60px;
}


/*============================
PRICING SECTION STYLES
==============================*/

.light-pricing {
margin-bottom: 30px;
margin-top: 50px;
text-align: center;
box-shadow: 0 0 5px rgba(0, 0, 0, .5);
background-color: rgba(255, 255, 255, 0.1);
color: #fff;
line-height: 30px;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.light-pricing:hover {
background-color: transparent;
}

.light-pricing ul {
list-style: none;
margin: 0;
text-align: center;
padding-left: 0px;
}

.light-pricing ul li {
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

.light-pricing ul li i {
margin-right: 5px;
}


.light-pricing .price {
padding: 40px 20px 20px 20px;
font-size: 60px;
font-weight: 900;
}

.light-pricing .price small {
color: #000;
display: block;
font-size: 15px;
margin-top: 22px;
}

.light-pricing .type {
background-color: rgba(0, 0, 0, 0.40);
padding: 30px 20px;
font-weight: 900;
text-transform: uppercase;
font-size: 30px;
color: rgb(57, 171, 111);
}

.light-pricing .pricing-footer {
padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
padding-left: 0;
padding-right: 0;
}

.light-pricing.popular {
margin-top: 10px;
}

.light-pricing.popular .price {
padding-top: 80px;
}


/*============================
WORK SECTION STYLES
==============================*/

#work .caegories a.active {
background-color: transparent;
color: #fff;
}

.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
transition-duration: 0.8s;
}

#work .work-wrapper {
padding: 10px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.1);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid rgb(57, 171, 111);
}

#work .work-wrapper:hover {
background-color: transparent;
border: 1px solid rgb(57, 171, 111);

opacity: .80; /* standard: ff gt 1.5, opera, safari */
-ms-filter: "alpha(opacity=80)"; /* ie 8 */
filter: alpha(opacity=80); /* ie lt 7 */
-khtml-opacity: .80; /* safari 1.x */
-moz-opacity: .80; /* ff lt 1.5, netscape */

}

#work .work-wrapper h4 {
padding-top: 10px;
}



/*============================
TEAM SECTION STYLES
==============================*/


.team-wrapper {
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
margin-bottom:30px;
}
.team-wrapper:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
.team-wrapper .team-inner {
background-size: cover;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
padding: 150px 0 10px;
/*background-image: url('../img/girl-big.jpg');*/
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
border-radius: 10px 10px 0px 0px;
}

.team-wrapper > .team-inner > a {
color: rgb(57, 171, 111);
width: 80px;
height: 80px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;
color: rgb(57, 171, 111);
z-index: 999;
font-size: 40px;
padding: 15px 22px;
background-color: #fff;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

.team-wrapper > .team-inner > a:hover {
color: #fff;
text-decoration: none;
background-color: rgb(57, 171, 111);
}


.team-wrapper .description {
padding: 30px 20px 20px;
text-align: center;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}

.team-wrapper .description h5 {
color: rgb(57, 171, 111);
}



/*============================
CONTACT SECTION STYLES
==============================*/

#contact .contact-wrapper {
background-color:rgba(255, 255, 255, 0.1);
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
min-height:200px;
}
#contact .contact-wrapper h3 {
color:rgb(57, 171, 111);
}
#contact .social-below {
display: block;
margin-top: 5px;
}
.footer-div {
padding-top:25px;
}
.footer-div a,.footer-div a:hover {
font-size:10px;

color:#fff;
text-decoration:none;
}