/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
GOOGLE FONT
============================================================ */
@font-face {
    font-family: jaapokki;
    src: url(fonts/jaapokki.otf);
  }
@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Raleway|IM+Fell+English|Fauna+One|Playfair+Display+SC); 



/* =============================================================
GENERAL STYLES
============================================================ */
body {
overflow-x: hidden;
font-weight: 500;
font-family:'Fauna+One', serif;
font-size: 20px;
color: 000000;
 background: url('/img/denali.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
padding-top: 80px;
padding-bottom: 40px;
}
.row {
/*margin-right: -100px;
margin-left: -100px;*/

}

.overlayBack {
 
 
    background: url('/img/overlayLrg.png') no-repeat;
        background-position-y: 117px;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    
    

}
.row-centered {
    text-align:center;

}
.noSidePad {
  padding-right: 0px;
padding-left: 0px;
}
.noPadRight {
  padding-right: 0px;

}

.noSideMargin {
  margin-right: 0px;
margin-left: 0px;
}
.noMarginRight {
  margin-right: 0px;
}




.bumpRight {
  margin-left: 20px
}
.col-centered {
    display:inline-block;
 
    /* reset the text-align */
    text-align:left;
    
}
.pad-bottom {
padding-bottom: 60px;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}
.header {
font-family: 'Oswald', sans-serif;
padding-bottom: 40px;
text-transform: uppercase;
}

.header hr {
width: 50px;
border-top: 2px solid rgb(57, 171, 111);
}

.bold {
color: white;text-transform: uppercase;
font-size: 55px;
line-height: 34px;
opacity: .9;
}
.smBold {
color: white;
text-transform: uppercase;
font-size: 45px;
line-height: 72px;
opacity: .9;
}

.boldPunct {
line-height: 73px;
font-family:'IM Fell English', serif;
font-weight: 500;
font-size: 75px;
 vertical-align: text-top;
 opacity:.6;
}
.boldPunct2 {

line-height: 40px;
font-family:'IM Fell English', serif;
font-weight: 500;
font-size: 75px;
 vertical-align: text-top;
}

/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.btn {
  border-radius: 0px;
}

.button-custom {
font-size: 18px;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}


.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid rgb(57, 171, 111);
}

.btn-custom-one:hover {
background-color: rgb(57, 171, 111);
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: rgb(57, 171, 111);
border: 2px solid rgb(57, 171, 111);
}

.btn-custom-two:hover {
border: 2px solid rgb(57, 171, 111);
text-decoration: none;
color: #fff;
background-color: transparent;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-left {
	margin-right: 10px;
}
.navbar-brand {
	line-height:40px; 
}
.navbar-inverse {
background-color: rgba(0, 0, 0, 0.4);
border-color: transparent;
}



.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 2px solid rgb(57, 171, 111);
}

.navbar-inverse .navbar-nav > li > a {
font-family: Oswald, sans-serif;
font-size: 14px;
font-weight: 800;
padding: 5px 0px;
letter-spacing: 2px;
margin: 10px 20px 10px 20px;
color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-size: 40px;
font-family: 'jaapokki';
vertical-align: middle;
letter-spacing: 3px;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: rgb(57, 171, 111);
}
.navbar-inverse .navbar-toggle {
border-color: rgb(57, 171, 111);
}

/* =============================================================
overlay STYLES
============================================================ */
.effects {
  
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {

}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlayImg {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 75px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 100px;
  border: solid 2px  rgba(57, 171, 111, .8);
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlayImg {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlayImg a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlayImg {
  height: 100%;
}

/* ============================================================
Arrows bottom
============================================================ */

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1.5px;  
  animation: arrow 3s infinite 3s;
  -webkit-animation: arrow 3s infinite; 
 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
text-align: center;
padding-top:20px;
height: 100vh;

}

#home h1 {
  font-size: 3em;
  text-align: center center;
  vertical-align: middle;
  line-height: 100vh;
 
  
}

.workBtn h1 {

}


#home p {
  color:white;
   line-height: 10px;
   letter-spacing: 3px;
  font-family: 'Oswald', sans-serif; 
  font-size: 2em;
}
 h2 {
  font-family: 'jaapokki';
 }
 h3 {
  font-family: 'Fauna One', serif; 
  font-size: 20px
}

.landBtn {
  z-index: 1000;
padding-top: 0px;
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);
opacity: .9;
width: 250px;
  height: 80px;
  position: absolute;
  bottom: 44vh;
  border: 1.5px solid rgb(102, 102, 102);
-webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:15s;
        animation-iteration-count: 1;
      }

.landBtnRight {
background-color:white;
color: black;
right: 5px;
    animation-name: slideInRight;
   
        }
.landBtnLeft {
background-color:#243245;
opacity: .9;
color: #fff;
left: 5px;
animation-name: slideInLeft;

}

.slideWork {
  text-align: center center;
z-index: 900;
width: 33Vw;
height: 110vh;
position: absolute;
color:black;
bottom: 0px; 
}
.slideWorkRight {

right:0px;
background-color: #243245;
opacity:.0;

   

}

.slideWorkLeft{
color:white;
left:0px;
background-color: white;
opacity:.0;



}
/*.hoverWork:hover {
 animation: tilt 2s line#r ;

}
 
@keyframes tilt {
  0% {
   transform: translateX(200px);
 }
  50% {
   transform: translateX(350px);
 }
 100% {
   transform: translateX(200px);
 }
}*/
.landBtnLeft:hover + .slideWorkLeft { 
opacity:.8;
animation-name: slideInLeft;
  -webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:0s;
        animation-iteration-count: 1;
   

   }

.landBtnRight:hover + .slideWorkRight { 
opacity:.8;
animation-name: slideInRight;
  -webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:0s;
        animation-iteration-count: 1;
   

   }

 
/*.hoverWork:hover {
 animation: tilt 2s linear ;
a
}
 
@keyframes tilt {
  0% {
   transform: translateX(200px);
 }
  50% {
   transform: translateX(350px);
 }
 100% {
   transform: translateX(200px);
 }
}*/
.landBtn h1::hover {
  -webkit-animation: rubberBand 1s;
    animation-name: rubberBand 1s;
}

.centerLogo {
	margin: 0 auto;
}




#home .introPic {
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);

}

#home .home-wrapper {
padding: 20px;
margin: 0 AUTO;
max-width: 100%;
height: 60%;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 10px;
background-color: rgba(0, 0, 0, 0.5);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}


/*Carousel Slider*/
#slider-body {
  padding-top: 35px;
  padding-left:20px;
}
.carousel-indicators li {
    width: 5px;
    height: 5px;
  }

.carousel-indicators .active {
  width: 7px;
    height: 7px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 2px;
  height: 2px;
  opacity: .8;
}
#carousel-slider {
margin-bottom: 45%;
padding:  15% 0 30% 0; 
height: 40%;
overflow: visible;
}
.carousel-inner {
height: 40vh;
overflow: visible;
}

/*home text*/
#carousel-slider h3 {
line-height: 50px;
font-family: 'SpaceMono_Bold', sans-serif;
}


 #carousel-slider p {
color: rgb(57, 171, 111);
}
.introPic {
  width: 100%;
  height: auto;

}
 .carousel-indicators {
    position: absolute;
    top:  10px;
    left: 19%;
    z-index: 15;
   
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 


.bumpRight {
  margin-right: 0px;
  margin-left: 0px;
}
     #carousel-slider {
padding-top: 0px; 
margin-top:0%;

}
.landBtnRight {
  top: 5%;
  width: 30%;

  
 }
.landBtnLeft {
  top: 5%;
  width: 30%;
  
  
 }
}
@media screen and (min-width: 500px) {
 #carousel-slider p {

font-size: .7em;
line-height: 3rem;
}
 

}

@media screen and (min-width: 750px) {
  #carousel-slider p {
color: rgb(57, 171, 111);
font-size: 29px;
line-height: 50px;
margin: 10px 20px;
}

}


/* =============================================================
card SECTION STYLES
============================================================ */
#card {


}
/*#card .row {

  margin-top: 200px;
  max-height: 300px;
  margin-top: 250px;
margin-bottom: 100px;}    

*/
h1 {
font-family: jaapokki;
font-size: 2.5em;
letter-spacing: 2px;

} 
#card .social {
display: block;
margin: 50px 20px;
}

#card .titleCard {

max-height: 300px;
background-color:rgba(51, 51, 51, .95);
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55);
text-align: center;
padding: 12.5px;
position: absolute;
}

#card .face {
 float:none;
padding: 0px;
height: 300px;
width:300px;
box-shadow: 0 20px 80px 0 rgba(0,0,0,.55)
}

#title {
  padding-left: 0px;
 
  height: 300px;
}

/* =============================================================
SERVICES SECTION STYLES
============================================================ */
#services {
  background-blend-mode: darken;
}
#services .services-wrapper {
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.07);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

#services .services-wrapper:hover {
background-color: rgba(255, 255, 255, 0.20);
}

#services h3 {
font-family: 'Monstserrat Subrayada', sans-serif;
}

#services .services-wrapper i {
margin: 5px;
color: rgb(57, 171, 111);
font-size: 60px;
}


/*============================
PRICING SECTION STYLES
==============================*/

.light-pricing {
margin-bottom: 30px;
margin-top: 50px;
text-align: center;
box-shadow: 0 0 5px rgba(0, 0, 0, .5);
background-color: rgba(255, 255, 255, 0.1);
color: #fff;
line-height: 30px;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.light-pricing:hover {
background-color: transparent;
}

.light-pricing ul {
list-style: none;
margin: 0;
text-align: center;
padding-left: 0px;
}

.light-pricing ul li {
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

.light-pricing ul li i {
margin-right: 5px;
}


.light-pricing .price {
padding: 40px 20px 20px 20px;
font-size: 60px;
font-weight: 900;
}

.light-pricing .price small {
color: #000;
display: block;
font-size: 15px;
margin-top: 22px;
}

.light-pricing .type {
background-color: rgba(0, 0, 0, 0.40);
padding: 30px 20px;
font-weight: 900;
text-transform: uppercase;
font-size: 30px;
color: rgb(57, 171, 111);
}

.light-pricing .pricing-footer {
padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
padding-left: 0;
padding-right: 0;
}

.light-pricing.popular {
margin-top: 10px;
}

.light-pricing.popular .price {
padding-top: 80px;
}


/*============================
WORK SECTION STYLES
==============================*/

#work .caegories a.active {
background-color: transparent;
color: #fff;
}

.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
transition-duration: 0.8s;
}

#work .work-wrapper {
padding: 10px;

-moz-border-radius: 5px;

margin-bottom: 40px;
background-color: white;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid rgb(57, 171, 111);
}

#work .work-wrapper:hover {
background-color: transparent;
border: 1px solid rgb(57, 171, 111);

opacity: .80; /* standard: ff gt 1.5, opera, safari */
-ms-filter: "alpha(opacity=80)"; /* ie 8 */
filter: alpha(opacity=80); /* ie lt 7 */
-khtml-opacity: .80; /* safari 1.x */
-moz-opacity: .80; /* ff lt 1.5, netscape */

}

#work .work-wrapper h4 {
padding-top: 10px;
}



/*============================
TEAM SECTION STYLES
==============================*/


.team-wrapper {
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
margin-bottom:30px;
}
.team-wrapper:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
.team-wrapper .team-inner {
background-size: cover;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
padding: 150px 0 10px;
/*background-image: url('../img/girl-big.jpg');*/
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
border-radius: 10px 10px 0px 0px;
}

.team-wrapper > .team-inner > a {
color: rgb(57, 171, 111);
width: 80px;
height: 80px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;
color: rgb(57, 171, 111);
z-index: 999;
font-size: 40px;
padding: 15px 22px;
background-color: #fff;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

.team-wrapper > .team-inner > a:hover {
color: #fff;
text-decoration: none;
background-color: rgb(57, 171, 111);
}


.team-wrapper .description {
padding: 30px 20px 20px;
text-align: center;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}

.team-wrapper .description h5 {
color: rgb(57, 171, 111);
}



/*============================
CONTACT SECTION STYLES
==============================*/
#footer {
  padding-bottom: 0px;
}
.contact-wrapper {
  background-color: #8b9bb0;
  height: 60vh;
}
.touchevents #mapid {
    position: relative;
    z-index: -1;
}
#mapid {
  height: 60vh;
  padding: 10px;
}
#mapid .text {
 font-weight: 500;
  z-index: 1000;
  text-transform: uppercase;
  text-align: right;
  position:absolute;
  right:50%;
  top:5%;
}
.custom-popup .leaflet-popup-content-wrapper {
  font-family: 'Raleway';
  background:#d6d7d8;
  color:black;
  font-size:16px;
  line-height:24px;
  }

.custom-popup .leaflet-popup-content {
/*padding-right: 0px;
padding-left: 0px;*/

}

.custom-popup .leaflet-popup-content-wrapper p {
  font-size: 1.1em;
}
.custom-popup .leaflet-popup-content-wrapper h2 {
  font-size: 2em;
  text-align: center;
  color:rgba(48, 100, 144, 0.6);
}
.custom-popup .leaflet-popup-content-wrapper ul {
list-style-type: none;
padding-left: 0px;
}

.custom-popup .leaflet-popup-content-wrapper li {
 border-bottom: solid thin rgba(48, 100, 144, 0.6);
  padding: 16px 10px 10px 10px;
  white-space: nowrap;
  vertical-align:middle;
}


.custom-popup .leaflet-popup-content-wrapper:after {
  content: '';
  position: absolute;
 
  left: 50%;
  transform: translate(-50%,-50%)rotate(45deg);

    background: rgb(214, 215, 216);
    height: 4rem;
    width: 4rem;
}

.custom-popup .leaflet-popup-content .icon {
  
  font-size:1.5em;
  min-width: 45px;
  display: inline-block;
  text-align: center;
  border-right: solid thin rgba(48, 100, 144, 0.6);
  margin-right: 10px;
  vertical-align: middle;
}
.custom-popup .leaflet-popup-content .noUl {
  border-bottom: none;
} 


.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  ox-shadow: 0 20px 80px 0 rgba(0,0,0,.55);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }



#contact {

    display: table;
    width: 100%; /* This could be ANY width */
    height: 60vh; /* This could be ANY height */

}
.contactPc {
   display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
.contactMobile {
  display: none;
}


.contactSlider {
  
  position: absolute;
    left: -500px;
   top:30%;
    width: 100%
    
  
}
.contactMobile .slideInUp {
  z-index: 1001;
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-direction: alternate;
}

.zIndex {
  left:0px;
}
 



 .contactBtn {
height: 100px;
position: absolute;
right:10px;
z-index: 1000;
display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 20px 30px;
  -webkit-transition: box-shadow;

}

 .contactBtn {
width: 150px;
height: 75px;
position: absolute;
right:10px;
z-index: 1000;
display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 20px 30px;
  -webkit-transition: box-shadow;

}



#footer h1 {
 margin:0 auto;
  width:100%;
  text-align: center;
  background-color: #30445c;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.05);
  color: white;
  font-size: 1em;
  font-weight: 300;
  max-width: 450px;
  padding:12px 10px 10px 10px;
  letter-spacing: 4px;
}

#footer .social .btn{
border: none;
color: black;
margin:25px 35px 25px 35px;
}

#footer span{
color:black;
}

.contactForm {

 display: inline-block;
vertical-align: middle;
text-align: center;
width: 100%;
max-width:460px; 
 margin: 0 auto;

}

#footer form{
  font-family:'Raleway';
display: inline-block;
margin:0 auto;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  background-color: white;
}

.form-control {
  
  box-shadow: none;
  border-radius: 0;
  background-color: white;
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid gray;
}

#message textarea{
  min-height: 300px;
  resize: vertical;
  overflow: hidden;
  border-bottom: 25px;
}

#send {
     background-color: #8b9bb0;
     margin-top: 39px;
    margin-bottom: 18px;
  letter-spacing: 4px;
}

#footer .btn:hover, .btn:focus, .btn.focus {
    background-color: #d4deea;
    color: #333;
    text-decoration: none;
     animation-name: pulse;


}


#footer .btn-custom-one:hover {
  background-color: #8b9bb0
}

#footer .social{
 display: inline-block;
background-color: White;
margin: 0 auto;

    width: 100%;
max-width: 450px;
}
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  justify-content: center;
  flex-direction: row;
}














/*Phone Portrait*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.smBold {

font-size: .75em; 
}

.overlayBack {
 background: url('/img/overlaySml.png') no-repeat;
        

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} 

 .carousel-indicators {
    position: absolute;
    top: -77px;
    left: 19%;
    z-index: 15;
   
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}
.centerLogo {
  
}

 #carousel-slider {
margin-top:20%;
margin-bottom:300px;
}

.landBtn {
background-color: transparent;
border-width: 0px;
opacity: 1;
}
 .landBtnRight {
  right: -10px;
  top: 5%;
  width: 45%;

  
 }
.landBtnLeft {
  left:-10px;
  top: 5%;
  width: 45%;
  
  
 }
 #carousel-slider p {

font-size: .9em;
line-height: 3rem;
}

#carousel-slider .bold  {

font-size: 2.5em;
line-height: 6rem;
}

#carousel-slider .smBold {

font-size: 2.5em;
line-height: 6rem;
}

#carousel-slider .boldPunct {

font-size: 2.5em;
line-height: 2.6rem;
}

#card {
height: 90vh;

}

#card .titleCard {
z-index: 10;
max-height: auto;}

.bumpRight {
  margin-left: 0;
}

.backBox {
display:none;
background-color: white;
animation-name: slideInLeft;
  -webkit-animation-delay:20s;
        -moz-animation-delay:3s;
        -o-animation-delay:3s;
        animation-delay:0s;
        animation-iteration-count: 1;
z-index: 1;
  }
.contactMobile {
display: table-cell;
}
#contact{
  height: 0px;
}
.contactPc {
display: none;

 }
.contact-wrapper {
height: 100vh;
}
#mapid
 {height:100vh;}
}
}